$body-background-color: #F2F2F2;
$hf-background-color: #DDDDDD;
$title-color: #134880;
$text-color: #484A4C;

$hf-height: 100px;
$img-height: 200px;

$header-border-radius: 0px 0px 5px 5px;
$footer-border-radius: 5px 5px 0px 0px;
$default-button-border: 1px solid #DADADA;
$hover-button-border: 1px solid $title-color;

$gap-sm: 10px;
$gap-md: 20px;
$gap-lg: 60px;